<div class="container">
  <div class="header">Monthly Timesheet</div>

  <div class="timesheet">
    <div class="form-section">
      <div class="container"><strong>Monthly Timesheet</strong></div>

      <div class="actions">
        <button (click)="exportToExcel()">Export to Excel</button>
        <button class="edit">Edit</button>
        <button (click)="saveData()">Save</button>
      </div>

      <br><br><br>

      <div class="project-fields">
        <div class="project">
          <label for="project">Project Name:</label>
          <select id="project" [(ngModel)]="selectedProjectID" (ngModelChange)="onProjectChange($event)">
            <option *ngFor="let project of projects" [value]="project.projectId">{{ project.projectName }}</option>
          </select>

          <label for="selectMonth">Select Month:</label>
          <select id="selectMonth" [(ngModel)]="selectedMonth" (ngModelChange)="fetchData()">
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
          </select>
        </div>
        <br><br>
      </div>

      <div>
        <strong>Selected Month:</strong> {{ selectedMonth ? selectedMonth : 'None selected' }}
      </div>
    </div>

    <div class="table-container">
      <table *ngIf="days.length > 0">
        <thead>
        <tr>
          <th>Employees</th>
          <th *ngFor="let day of days">{{ day }}</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees; let employeeIndex = index">
          <td>{{ employee.name }}</td>
          <td *ngFor="let day of days; let dayIndex = index">
            <input
              type="number"
              [(ngModel)]="employee.times[dayIndex]"
              (input)="validateInput($event, employeeIndex, dayIndex)"
              min="0"
              max="24"
              placeholder="Hours">
          </td>
          <td>{{ employee.totalHours }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <br><br>

    <div class="footer">
      <div class="sign">
        Signature:<span></span>Date:<span></span>
      </div>
    </div>
  </div>
</div>
